@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
#footer {
  margin-top: 60px;
  clear: both;
  color: #AAA;
  display: block;
}

#sub-floor {
  color: #AAA;
  background: #031634 none repeat scroll 0% 0%;
  padding: 10px 0px;
}

